<!DOCTYPE html>
<html lang="fr" data-theme="forest">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gest ploided</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="navbar bg-base-100">
  <div class="navbar-start">
    <a href="{% url 'home' %}" class="btn btn-ghost text-xl">Gest-Ploided</a>
  </div>
  <div class="navbar-center">
    <ul class="menu menu-horizontal px-1 space-x-8">
      <li><a href="{% url 'profile_entreprise' %}">Profile de l'entreprise</a></li>
      <li><a href="{% url 'services_view' %}">Services</a></li>
      <li><a href="{% url 'liste_employes' %}">Liste des employes</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    {% if user.is_authenticated %}
      <a href="{% url 'logout' %}" class="btn">Déconnexion</a>
    {% else %}
      <a href="{% url 'login' %}" class="btn">Connexion</a>
    {% endif %}
  </div>
</div>
<div class="flex justify-center mt-32">
    <div  class="flex flex-col w-3xl bg-base-200 rounded-xl p-6">
        <div class="w-full h-fit">
              {% block content %}
              {% endblock %}
        </div>
    </div>
</div>
</body>

</html>