{% extends 'entreprise/base.html' %}

{% block content %}
  <h1 class="text-3xl font-bold mb-6">
      Créer une entreprise
  </h1>
<form method="post" action="{% url 'creation_entreprise' %}", class="space-y-4 flex flex-col">
    {% csrf_token %}
    {{ form.nom_entreprise }}
    {{ form.adresse_siege }}
    {{ form.code_postal}}
    {{ form.ville }}
    {{ form.pays }}
    {{ form.telephone_entreprise }}
    {{ form.email }}
    {{ form.numero_siret }}
    {{ form.code_naf }}
    {{ form.forme_juridique }}
    {{ form.secteur_activite }}
    {{ form.nombre_employes }}

    <button type="submit", class="btn btn-primary btn-soft ">Enregistrer</button>
    <a href="{% url 'liste_employes' %}" class="btn btn-primary w-full">Annuler</a>  
    
</form>
{% endblock %}
