{% extends "entreprise/base.html" %}

{% block content %}
    <div class="flex items-center justify-center min-h-screen w-full">
        <div class="bg-base-100 p-4 sm:p-6 md:p-8 rounded-lg shadow-lg w-full max-w-3xl mx-auto text-base-content">

        {% if not entreprise %}
        <div class="flex justify-center mb-6">
            <a href="{% url 'creation_entreprise' %}" class="btn btn-primary btn-lg rounded-full shadow-md">
                Créer une entreprise
            </a>
        </div>
        {% endif %}

        {% if entreprise %}
        <div class="bg-base-200 p-4 sm:p-6 rounded-lg border border-base-300 flex flex-col gap-6">
            
            <div class="flex flex-col sm:flex-row justify-between gap-4">
                <div>
                    <p class="text-2xl font-bold mb-1 break-words">{{ entreprise.nom_entreprise }}</p>
                    <p class="text-sm mb-1 break-words" class="break-words"><strong>Adresse:</strong> {{ entreprise.adresse_siege }}</p>
                    <p class="text-sm mb-1 break-words" class="break-words"><strong>BP:</strong> {{ entreprise.code_postal }}</p>
                    <p class="text-sm mb-1 break-words" class="break-words"><strong>Ville:</strong> {{ entreprise.ville }}</p>

                    <div class="flex flex-wrap items-center gap-2 mt-4">
                        <span class="btn btn-outline btn-primary">
                            {{ entreprise.pays }}
                        </span>
                        <span class="btn btn-soft btn-primary">
                            {{ entreprise.telephone_entreprise }}
                        </span>
                        <span class="btn btn-dash btn-primary ">
                            {{ entreprise.email }}
                        </span>
                    </div>
                </div>

                <div class="space-x-2 items-center flex justify-center mt-30">
                    <a href="{% url 'modifier_entreprise' entreprise.id %}" class="btn btn-primary btn-sm ">Modifier </a>
                    <a href="{% url 'supprimer_entreprise' entreprise.id %}" class="btn btn-primary btn-soft btn-sm">Supprimer </a>
                </div>                
            </div>

            <div class="text-sm mt-2 border-t border-base-300 pt-4">
                <p class="break-words"><strong>Siret:</strong> {{ entreprise.numero_siret }}</p>
                <p class="break-words"><strong>Code NAF:</strong> {{ entreprise.code_naf }} </p>
                <p class="break-words"> <strong>Forme Juridique:</strong> {{ entreprise.forme_juridique }}</p>
                <p class="break-words"><strong>Secteur d'activité:</strong> {{ entreprise.secteur_activite }}</p>
                <p class="break-words"><strong>Effectif:</strong> {{ entreprise.nombre_employes }}</p>
            </div>

        </div>
        {% endif %}

    </div>
{% endblock %}