{% extends 'entreprise/base.html' %}

{% block content %}

    <form method="post" class="space-y-4 flex flex-col">
        <h2>Confirmer la suppression de l'entreprise</h2>
        <p>Êtes-vous sûr de vouloir supprimer l'entreprise <strong>"{{ entreprise.nom_entreprise }}"</strong> ?</p>
        {% csrf_token %}
        <button type="submit" class="btn btn-error">Supprimer</button>
        <a href="{% url 'profile_entreprise' %}" class="btn btn-primary w-full">Annuler</a>
    </form>

{% endblock %}