{% extends "employe/base.html" %}
{% block main_content_classes %}
{% if entreprise_existe %}
mt-2 mb-2 w-3xl
{% else %}
mt-2 mb-2 w-full
{% endif %}
{% endblock %}


{% block content %}

{% if entreprise_existe %}
<div class="w-full bg-base-200">
    <div class="mb-4">
        <a href="{% url 'ajouter_employe' %}" class="btn btn-primary w-full">Ajouter un employé</a>      
    </div>
    <div class="space-y-4 w-full">
      {% for emp in employes%}
        <div class="p-4 bg-base-100 rounded-lg w-full flex flex-col sm:flex-row sm:justify-between items-center gap-4">

          <div class="space-y-2">
            <p class="font-bold text-lg break-words">{{emp.nom}}  {{emp.prenom}}</p>
            <p class="text-sm text-gray-500 break-words">Âge: {{emp.age}} ans  - Sexe: {{emp.sexe}}</p>
            <p class="btn btn-outline btn-primary break-words">{{emp.email}} {{emp.telephone}}</p>

            <div class="flex gap-2">
              <p class="btn btn-soft btn-primary break-words">{{emp.poste}}</p>
              <p class="btn btn-dash btn-primary break-words">{{emp.salaire}} Fcfa</p>
            </div>

            <div class="text-sm text-gray-500">
              <p class="break-words">Date d'embauche: {{emp.date_embauche}}</p>
            </div>

          </div>

          <div class="flex flex-col sm:flex-row gap-2">
            <a href="{% url 'modifier_employe' emp.id %}" class="btn btn-primary btn-sm">Modifier</a>
            <a href="{% url 'supprimer_employe' emp.id %}" class="btn btn-primary btn-soft btn-sm">Supprimer</a>
          </div>

        </div>
      {% endfor %}
    </div>  
</div>
{% else %}
<div class="flex flex-col items-center justify-center text-center h-full py-8">
    <div>
        <p>Aucune employé trouvée, veuillez d'abord créer une entreprise.</p>
        <a href="{% url 'creation_entreprise' %}" class="btn btn-primary mt-4">Créer une entreprise</a>
    </div>
</div>
{% endif %}

{% endblock %}